.header {
  width: 100vw;
  height: 10vh;
}
.main {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .main-left {
    width: 30vw;
    height: 100%;
    border: 2px solid red;
    margin: 10px;
  }
  .main-center {
    width: 40vw;
    height: 100%;
    border: 2px solid red;
    margin: 10px;
  }
  .main-right {
    width: 30vw;
    height: 100%;
    border: 2px solid red;
    margin: 10px;
  }
}
